body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid #000;
}

#toolbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#colorPicker, #sizePicker {
    margin: 0 5px;
}

