.button-column {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f2f5;
	margin: 0;
}

#toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	margin: 15px 100px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
}

#paintCanvas {
	border: 1px solid #cccccc;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn.active {
	background-color: #007bff;
	color: #ffffff;
}

.form-control-range {
	width: 100%;
}

.custom-control-label {
	margin-left: 5px;
}

.buttons img {
	width: 100%;
	height: 100%;
}

.tools-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.tools-row .btn {
	width: 24%;
	padding: 0;
}

.tools-row .btn img {
	display: block;
	width: 100%;
	height: auto;
}
#buttons {
	display: flex;
	gap: 10px;
	width: 200px;
}

#mainInfo {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
}

.palette {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.paletteUnit {
	width: 24px;
	height: 24px;
	border: 1px solid #000;
	margin: 1px;
	cursor: pointer;
}

.paletteUnit.current {
	border: 3px solid red;
}