* {
	font-family: Calibri;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #DDDDDD;
}

.container {
	width: min-content;
	display: flex;
	gap: 10px;
	padding: 20px;
	background-color: #F0F0F0;
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.3);
}

canvas {
	border: 1px solid #000;
	background-color: #FFFFFF;
}

#toolbar {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#toolbar > div {
	/*background-color: green;*/
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
}

#pickers {
	display: flex;
	align-items: center;
}

#colorPicker {
	outline: none;
	border: none;
	padding: 0;
	opacity: 0;
}

#colorPickerBody {
	border: 1px solid black
}

#colorCodeInput {
	width: 80px;
	font-size: 20px;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 7px 12px;
	outline: none;
	width: min-content;
	transition: 100ms ease-in-out;
	font-size: 20px;
}

button:hover {
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

button img {
	width: 24px;
	height: 24px;
}

button.active {
	border: 2px solid #000;
}

input {
	border-radius: 0;
	outline: none;
	border: 1px solid black;
}

#toolInfo {
	font-size: 16px;
}

.brush-preview {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	margin-top: 10px;
}

.palette {
	--pallete-unit-with: 24px;
	width: calc(var(--pallete-unit-with) * 7) !important;
	display: flex;
	flex-wrap: wrap;
	gap: 0 !important;
	border-top: 1px solid #101010;
	border-left: 1px solid #101010;
}

.paletteUnit {
	width: var(--pallete-unit-with);
	box-sizing: border-box;
	height: 24px;
	background-color: red;
	border-top: 0 solid #101010;
	border-bottom: 1px solid #101010;
	border-left: 0 solid #101010;
	border-right: 1px solid #101010;
	transition: 100ms ease-in-out;
}

.paletteUnit.current {
	border-top: 3px solid #101010;
	border-bottom: 4px solid #101010;
	border-left: 3px solid #101010;
	border-right: 4px solid #101010;
}

.paletteUnit:hover {
	border: 1px solid #101010;
	transform: scale(1.3);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}